<div class="container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-3">
        <%= image_tag("https://robohash.org/kat") %>
      </div>

      <div class="col-md-6">

      <%= form_for [@user, @profile] do |f| %>

      <%= f.label :photo %>:
      <%= f.text_field :photo %></br>

      <%= f.label :location %>:
      <%= f.text_field :location %></br>

      <%= f.label :classification %>:
      <%= f.text_field :classification %></br>

      <%= f.label :age %>:
      <%= f.text_field :age %></br>

      <%= f.label :body_type %>:
      <%= f.text_field :body_type %></br>

      <%= f.label :interest %>:
      <%= f.text_area :interest %></br>

      <%= f.submit "Create Profile", class: "btn btn-primary" %>
      <% end %>
    </div>

    </div>
  </div>
</div>
