  <div class="container-fluid" align="center">

      <div class="card card-outline-info" style="width: 40rem;">
        <%= image_tag "https://robohash.org/#{@user.name}" %>
        <div class="card-block">
          <h3><%= @user.name %></h3>
          <p class="card-text"><strong>Age:</strong> <%= @profile.age %></p>
          <p class="card-text"><strong>Classification:</strong> <%= @profile.classification %></p>
          <p class="card-text"><strong>Body Type:</strong> <%= @profile.body_type %></p>
          <p class="card-text"><strong>Location:</strong> <%= @profile.location %></p>
        </div>
      </div>

        <p></p>
          <div class="col-md-9">
            <div class="jumbotron">
              <h4>Interests</h4>
              <p class="card-text"><%= @profile.interest %></p>
            </div>
        </div>
</div>
