<h1 align="center">Welcome to <%= @user.name %>'s message board!</h1>
</br>

<p><%= link_to "Link to #{@user.name}'s' profile",
  user_profile_path(@user, @user.profile) if @user.profile.present? %></p>

  <div class="jumbotron">
    <div class="container-fluid">
    Message history with <%= @user.name %>

    <% @messages.sort_by(&:created_at).each do |message| %>
    <%= message.user.name %>:
    <%= message.body %></br>
    <% end %>
  </div>
</div>
