<div class="blog-masthead">
  <div class="container">
    <nav class="nav nav-custom">
      <% if user_signed_in? %>
      <div><%= link_to "All Users", users_path, class: 'nav-link' %></div>
      <div><%= link_to "Create a Profile", new_user_profile_path(current_user.id),
                class: 'nav-link' %></div>
      <div><%= link_to "My Profile", user_profile_path(current_user.id,
                current_user.profile.id), class: "nav-link" if current_user.profile.present? %></div>
      <div><%= link_to "Edit Profile", edit_user_profile_path(current_user.id,
                current_user.profile.id), class: "nav-link" if current_user.profile.present? %></div>
        <div><%= link_to "Logout", destroy_user_session_path, class: 'nav-link', method: :delete %></div>
      <% else  %>
        <div><%= link_to "Register", new_user_registration_path, class: 'nav-link' %></div>
        <div><%= link_to "Login", new_user_session_path, class: 'nav-link' %></div>
        <% end  %>
    </nav>
  </div>
</div>
