<!DOCTYPE html>
<html>
  <head>
    <title>RoboMatcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
       <p>I'm signed in</p>
      <% else %>
      <p>I'm not signed in</p>
      <% end %>
    <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
